<h2 class="text-center">دسترسی به صفحه مورد نظر محدود شده است<br><span>شما اجازه دسترسی به صفحه مورد نظر را ندارید</span></h2>
<!-- <div class="globe">
	<div class="bird">
		<div class="body">
	  	<div class="eye left"></div>
	  	<div class="eye right"></div>
	  	<div class="beak"><div></div></div>
	  	<div class="feet"></div>
	    <div class="wire"></div>
		</div>
		<div class="hills"></div>
		<div class="cloud"></div>
		<div class="cloud small"></div>
	</div>
</div>

 -->
 <div class="svgHolder">
        <svg width="677" height="555">
                <!--tree branch-->
                <polygon class="branch-shadow" points="132,438 139,430 557,371 135,443 132,438"/>
                <polygon class="main-branch" id="low" points="126,377 133,386 559,315 126,377" />
                <polygon class="main-branch" id="high" points="126,378 132,368 559,315 126,378" />
                <polygon class="branch" id="down-1" points="217,375 222,380 208,423 217,375" />
                <polygon class="leaves" id="down-1-1" points="209,423 198,426 204,445 209,423" />
                <polygon class="leaves" id="down-1-2" points="209,423 215,428 204,445 209,423" />
                <polygon class="branch" id="down-2" points="213,372 219,371 237,396 213,372" />
                <polygon class="leaves" id="down-2-1" points="237,396 240,418 285,437 237,396" />
                <polygon class="leaves" id="down-2-2" points="237,396 250,390 285,437 237,396" />
                <polygon class="branch" id="down-3" points="512,322 518,322 547,341 512,322" />
                <polygon class="leaves" id="down-3-1" points="547,341 553,350 572,354 547,341" />
                <polygon class="leaves" id="down-3-2" points="547,341 557,339 572,354 547,341" />
                <polygon class="branch" id="high-1" points="233,355 206,315 244,354 233,355" />
                <polygon class="leaves" id="up-1-1" points="206,315 183,315 183,277 206,315" />
                <polygon class="leaves" id="up-1-2" points="206,315 206,299 183,277 206,315" />
                <!--bird-->
                  <!--head-->
                <polygon class="head" id="crest" points="236,37 298,80 274,91 236,37" />
                <polygon class="head" id="h-1" points="298,80 274,91 303,84 298,80" />
                <polygon class="head" id="h-2" points="274,91 303,84 284,112 274,91" />
                <polygon class="head" id="h-3" points="274,91 297,136 246,143 274,91" />
                <polygon class="head" id="h-4" points="303,84 308,98 284,112 303,84" />
                <polygon class="head" id="h-5" points="284,112 308,98 302,122 284,112" />
                <polygon class="head" id="h-6" points="308,98 302,122 316,109 308,98" />
                <polygon class="head" id="h-7" points="284,112 302,122 297,136 284,112" />
                <polygon class="head" id="h-8" points="297,136 314,142 312,147 297,136" />
                <polygon class="head" id="h-9" points="297,136 312,147 310,154 297,136" />
                <polygon class="head" id="h-10" points="297,136 310,154 271,171 297,136" />
                <polygon class="head" id="h-11" points="297,136 271,171 246,143 297,136" />
                <!--beak-->
                <polygon class="beak" id="bk-1" points="316,109 348,137 312,113 316,109" />
                <polygon class="beak" id="bk-2" points="312,113 348,137 306,119 312,113" />
                <polygon class="beak" id="bk-3" points="306,119 348,137 302,122 306,119" />
                <polygon class="beak" id="bk-4" points="302,122 345,135 297,136 302,122" />
                <polygon class="beak" id="bk-5" points="297,136 330,134 314,142 297,136" />
                <!--body-->
                <polygon class="body" id="b-1" points="254,152 271,171 252,162 254,152" />
                <polygon class="body" id="b-2" points="271,171 298,159 298,165 271,171" />
                <polygon class="body" id="b-3" points="298,159 310,154 307,162 298,165 298,159" />
                <polygon class="body" id="b-4" points="310,154 312,181 285,228 310,154" />
                <polygon class="body" id="b-5" points="310,154 312,181 354,179 310,154" />
                <polygon class="body" id="b-6" points="252,162 271,171 236,227 252,162" />
                <polygon class="body" id="b-7" points="271,171 268,279 236,227 271,171" />
                <polygon class="body" id="b-8" points="271,171 285,228 268,279 271,171" />
                <polygon class="body" id="b-9" points="271,171 298,165 285,228 271,171" />
                <polygon class="body" id="b-10" points="298,165 307,162 285,228 298,165" />
                <polygon class="body" id="b-11" points="285,228 312,181 347,247 285,228" />
                <polygon class="body" id="b-12" points="312,181 354,179 347,247 312,181" />
                <polygon class="body" id="b-13" points="268,279 285,228 307,316 268,279" />
                <polygon class="body" id="b-14" points="307,316 285,228 330,317 307,316" />
                <polygon class="body" id="b-15" points="285,228 340,317 330,317 285,228" />
                <polygon class="body" id="b-16" points="285,228 352,318 340,317 285,228" />
                <polygon class="body" id="b-17" points="285,228 347,247 352,318 285,228" />
                <polygon class="body" id="b-18" points="347,247 354,179 411,236 347,247" />
                <!--tail-->
                <polygon class="tail" id="t-1" points="352,318 347,247 443,346 352,318" />
                <polygon class="tail" id="t-2" points="347,247 436,314 443,346  347,247" />
                <polygon class="tail" id="t-3" points="347,247 411,236 436,314 347,247" />
                <polygon class="tail" id="t-4" points="411,236 490,394 436,314 411,236" />
                <polygon class="tail" id="t-5" points="411,236 485,358 455,325 411,236" />
                <polygon class="tail" id="t-6" points="352,318 443,346 437,351 352,318" />
                <polygon class="tail" id="t-7" points="352,318 437,351 441,364 352,318" />
                <polygon class="tail" id="t-8" points="381,333 426,366 415,369 381,333" />
                <polygon class="tail" id="t-9" points="381,333 441,364 426,366 381,333" />
                <polygon class="tail" id="t-10" points="415,369 426,366 478,458 415,369" />
                <polygon class="tail" id="t-11" points="426,366 441,364 478,458 426,366" />
                <!--paws-->
                  <polygon class="paws" id="left" points="312,346 314,316 318,316 318,345 312,346" />
                <polygon class="paws" id="l-1" points="309,340 307,343 311,359 309,340" />
                <polygon class="paws" id="l-2" points="309,340 313,343 311,359 309,340" />
                <polygon class="paws" id="l-3" points="318,339 315,341 319,357 318,339" />
                <polygon class="paws" id="l-4" points="318,339 321,341 319,357 318,339" />
                <polygon class="paws" id="right" points="338,317 343,317 343,341 336,343 338,317" />
                <polygon class="paws" id="r-1" points="336,339 333,342 336,356 336,339" />
                <polygon class="paws" id="r-2" points="336,339 338,343 336,356 336,339" />
                <polygon class="paws" id="r-3" points="342,339 340,341 343,356 342,339" />
                <polygon class="paws" id="r-4" points="342,339 345,341 343,356 342,339" />
                Sorry, your browser does not support SVG.
              </svg>
 </div>
 
      