<!-- 
<div id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">
              <span class="glyphicon glyphicon-fire"></span>
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">
                <li routerLinkActive="active current">
                    <a routerLink="" class="hvr-underline-reveal">Home</a>
                </li>
                <li routerLinkActive="active current">
                    <a routerLink="/teacher/lesson" class="hvr-underline-reveal">Lesson Plan</a>
                </li>
                <li routerLinkActive="active current">
                    <a routerLink="/about-us" class="hvr-underline-reveal">About Us</a>
                </li>
                <li routerLinkActive="active current">
                    <a routerLink="/contact-us" class="hvr-underline-reveal">Contact Us</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active current">
                    <a routerLink="/" class="hvr-underline-reveal" (click)="Logout();">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</div> -->

<ul class="menu">
    <li title="home">
        <a href="#" class="home">home</a>
    </li>
    <li title="pencil">
        <a routerLink="/teacher/lesson" class="pencil">Lesson</a>
    </li>
    <li title="archive">
        <a href="#" class="archive">archive</a>
    </li>
    <li title="About Us">
        <a routerLink="/about-us" class="search">About Us</a>
    </li>
    <li title="Contact Us">
        <a routerLink="/contact-us" class="contact">Contact Us</a>
    </li>
    <li title="Logout">
        <a routerLink="/" class="active about" (click)="Logout();">Logout</a>
    </li>
</ul>