<div class="area"></div>
    <nav class="main-menu">
            <ul>
                <li>
                    <a routerLink="/">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Home
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a routerLink="/adminstrator/institute">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Institute
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/teacher/lesson">
                        <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Lesson
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/about-us">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            About Us
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/contact-us">
                        <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Contact Us
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                    <a routerLink="/" class="active about" (click)="Logout();">
                        <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>


<!-- <ul class="menu">
    <li title="home">
        <a routerLink="/" class="home">home</a>
    </li>
    <li title="Lesson" >
        <a routerLink="/teacher/lesson" class="fa fa-users" aria-hidden="true">Lesson</a>
    </li>
    <li title="archive">
        <a routerLink="/" class="archive">archive</a>
    </li>
    <li title="About Us">
        <a routerLink="/about-us" class="search">About Us</a>
    </li>
    <li title="Institute">
        <a routerLink="/adminstrator/institute" class="Institute">Institute</a>
    </li>
    <li title="Contact Us">
        <a routerLink="/contact-us" class="contact">Contact Us</a>
    </li>
    <li title="Logout">
        <a routerLink="/" class="active about" (click)="Logout();">Logout</a>
    </li>
</ul> -->