<h3 class="pull-right">
    مدیریت موسسه
</h3>
<form [formGroup]="form">
        <div class="form-group row manage-FormGroup">
                <div class="col-md-6 manage-container">
                        <div class="group">      
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Title</label>
                              </div>
                </div>
                <div class="col-md-6 manage-container">
                        <div class="group">      
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Code</label>
                              </div>
                </div>
        </div>
        <div class="box-footer">
                <button mat-raised-button routerLink="/adminstrator/institute">بازگشت</button>
                <button mat-flat-button (click)="Create()">ذخیره</button>
        </div>
</form>