<div class="login">
    <div class="heading">
      <h2>Sign in</h2>
      <form [formGroup]="login">
  
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" formControlName="username" placeholder="Username or email">
          <small *ngIf="Username.touched && !Username.valid" class="text-danger support-text">
            نام کاربری اجباری است
          </small>
        </div>
  
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
            <small *ngIf="Password.touched && !Password.valid && Password.value.errors?.requiered" class="text-danger support-text">
                کلمه عبور اجباری است
            </small>
            <small *ngIf="Password.touched && !Password.valid && Password.value.errors?.minLength" class="text-danger support-text">
                کلمه عبور باید حداقل ۸ کاراکتر باشد
            </small>
        </div>
  
          <button (click)="onSubmit()" class="float" >Login</button>
        </form>
    </div>
</div>